<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>타임리프 익히기</h1>
<p th:text="${#temporals.format(today, 'yyyy-MM-dd')}"></p>

<!-- person을 선택한 객체로 지정 -->
<!-- person이라는 키를 가진 객체의 데이터를 하위 태그에 저장 -->
<div th:object="${person}">
    <!-- 하위태그에서 *{..}를 이용하여 부모 태그에 적용한 객체 값에 접근 가능 -->
    <p th:text="|이름 : *{name}|"></p>
    <p th:text="|나이 : *{age}|"></p>
    <p>취미</p>
    <!-- hobbies의 수반큼 반복 -->
    <ul th:each="hobby : *{hobbies}">
        <li th:text="${hobby}"></li>
        <span th:if="${hobby == '운동'}">(대표 취미)</span>
    </ul>
</div>

<a th:href="@{/api/articles/{id}(id=${person.id})}">글 보기</a>

</body>
</html>